@charset "UTF-8";
:root {
  --menuselect-color: #8dce76;
  --animation-speed: 1.5s;
  --upmove-uper-start: 0s;
  --upmove-lower-start: 2.4s;
  --upmove-step: 0.1s;
  --modalmenu-color-uper: #a1a3af;
  --modalmenu-color-lower: #d6d0d0;
}
html {
  font-size: clamp(1px, 1.33vw, 16px);
}
body {
  max-width: 1200px;
  height: auto;
  margin: auto;
}
header {
  width: 100%;
  height: clamp(1px, 7.08vw, 85px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}
.logo__img {
  display: flex;
  padding: clamp(1px, 1vw, 12px) 0 0 clamp(1px, 10vw, 120px);
}
.logo__img img {
  width: clamp(1px, 12vw, 144px);
  height: clamp(1px, 5.25vw, 63px);
}
#nav__menu ul {
  display: flex;
  font-family: Lucida Sans Unicode;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: clamp(1px, 2.5vw, 30px) clamp(1px, 10.5vw, 126px)
    clamp(1px, 2.5vw, 30px) 0;
  position: relative;
}
#nav__menu li {
  z-index: 99;
}
#nav__menu li:nth-child(n + 2) {
  z-index: 99;
  margin-left: clamp(1px, 3.33vw, 40px);
}
#hamburger-btn {
  display: none;
}
/* 黒いバーのスタイル */
.nav__menu--bar {
  position: absolute;
  display: block;
  bottom: 0;
  left: clamp(-15px, -1.25vw, -1px);
  width: clamp(1px, 6.33vw, 76px);
  height: clamp(1px, 2.08vw, 25px);
  background: var(--menuselect-color);
  border-radius: clamp(1px, 1vw, 12px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* ホバーでバーの位置を変化 */
#nav__menu li:nth-child(1):hover ~ .nav__menu--bar {
  left: clamp(-15px, -1.25vw, -1px);
  width: clamp(1px, 6.33vw, 76px);
}
#nav__menu li:nth-child(2):hover ~ .nav__menu--bar {
  left: clamp(1px, 5.67vw, 68px);
  width: clamp(1px, 8.67vw, 104px);
}
#nav__menu li:nth-child(3):hover ~ .nav__menu--bar {
  left: clamp(1px, 15vw, 180px);
  width: clamp(1px, 7.83vw, 94px);
}
#nav__menu li:nth-child(4):hover ~ .nav__menu--bar {
  left: clamp(1px, 23.83vw, 286px);
  width: clamp(1px, 5.33vw, 64px);
}
#nav__menu li:nth-child(5):hover ~ .nav__menu--bar {
  left: clamp(1px, 30.33vw, 364px);
  width: clamp(1px, 7.17vw, 86px);
}
.farstview {
  width: 100%;
  margin: 0 auto 0;
}
.farstview img {
  position: absolute;
  width: clamp(1px, 100vw, 1200px);
  height: clamp(1px, 54.17vw, 650px);
  top: 0;
  z-index: -1;
}
.catch {
  display: block;
  font-family: Constantia;
  font-size: 3.125rem;
  font-weight: 400;
  color: #ffffff;
  margin: clamp(1px, 12.75vw, 153px) 0 0 clamp(1px, 10vw, 120px);
}
@keyframes upmove_uper-anim {
  0% {
    transform: translateY(110%);
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*** アニメーションする要素の親 ***/
.upmove_uper {
  display: flex;
  overflow: hidden;
}
/*** アニメーションを適用する文字全体 ***/
.upmove_uper span {
  transform: translateY(110%);
  display: block;
  animation: var(--animation-speed) upmove_uper-anim forwards linear 1;
}
/*** 各span(文字)に遅延時間を設定 ***/
.upmove_uper span:nth-child(1) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 1);
}
.upmove_uper span:nth-child(2) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 2);
}
.upmove_uper span:nth-child(3) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 3);
}
.upmove_uper span:nth-child(4) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 4);
}
.upmove_uper span:nth-child(5) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 5);
}
.upmove_uper span:nth-child(6) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 6);
}
.upmove_uper span:nth-child(7) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 7);
}
.upmove_uper span:nth-child(8) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 8);
}
.upmove_uper span:nth-child(9) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 9);
}
.upmove_uper span:nth-child(10) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 10);
}
.upmove_uper span:nth-child(11) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 11);
}
.upmove_uper span:nth-child(12) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 12);
}
.upmove_uper span:nth-child(13) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 13);
}
.upmove_uper span:nth-child(14) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 14);
}
.upmove_uper span:nth-child(15) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 15);
}
.upmove_uper span:nth-child(16) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 16);
}
.upmove_uper span:nth-child(17) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 17);
}
/*** アニメーションする要素の親 ***/
.upmove_lower {
  display: flex;
  overflow: hidden;
}
@keyframes upmove_lower-anim {
  0% {
    transform: translateY(110%);
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.upmove_lower span {
  transform: translateY(110%);
  display: block;
  animation: var(--animation-speed) upmove_lower-anim forwards linear 1;
}
.upmove_lower span:nth-child(1) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 1);
}
.upmove_lower span:nth-child(2) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 2);
}
.upmove_lower span:nth-child(3) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 3);
}
.upmove_lower span:nth-child(4) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 4);
}
.upmove_lower span:nth-child(5) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 5);
}
.upmove_lower span:nth-child(6) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 6);
}
.upmove_lower span:nth-child(7) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 7);
}
.upmove_lower span:nth-child(8) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 8);
}
.upmove_lower span:nth-child(9) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 9);
}
.upmove_lower span:nth-child(10) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 10);
}
.upmove_lower span:nth-child(11) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 11);
}
.upmove_lower span:nth-child(12) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 12);
}
.upmove_lower span:nth-child(13) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 13);
}
.upmove_lower span:nth-child(14) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 14);
}
/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
  html {
    font-size: clamp(12px, 4.1vw, 31px);
  }
  .scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .scrollbar ::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
  .pc {
    display: none;
  }
  body {
    min-width: 300px;
    width: 100%;
  }
  body.no_scroll {
    overflow: hidden;
  }
  header {
    width: 100%;
    height: clamp(71px, 23.8vw, 183px);
  }
  .logo__img {
    padding: clamp(12px, 4.1vw, 32px) 0 0 0;
    margin: 0 auto;
  }
  .logo__img img {
    width: clamp(110px, 36.9vw, 284px);
    height: clamp(48px, 16.2vw, 124px);
  }
  #nav__menu {
    position: fixed;
    top: 0;
    right: clamp(-538px, -70vw, -210px);
    width: clamp(210px, 70vw, 538px);
    height: 100vh;
    z-index: 99;
    transition: right 0.5s;
    background: linear-gradient(
      var(--modalmenu-color-uper),
      var(--modalmenu-color-lower)
    );
  }
  #nav__menu ul {
    display: block;
    margin: clamp(62px, 20.77vw, 160px) 0 0 clamp(74px, 24.87vw, 191px);
  }
  #nav__menu li:nth-child(n + 2) {
    margin: clamp(15px, 5.13vw, 39px) 0 0 0;
  }
  #hamburger-btn {
    display: block;
    position: fixed;
    top: clamp(23px, 7.69vw, 59px);
    right: clamp(23px, 7.69vw, 59px);
    z-index: 100;
    width: clamp(21px, 7.18vw, 55px);
    height: clamp(21px, 7.18vw, 55px);
  }
  #hamburger-btn span {
    position: relative;
    top: 50%;
    left: 0px;
    display: block;
    width: clamp(21px, 7.18vw, 55px);
    height: clamp(1px, 0.51vw, 4px);
    background: #ffffff;
    border-radius: clamp(3px, 1.28vw, 10px);
    transition: 0.5s;
  }
  #hamburger-btn span::before {
    position: absolute;
    top: clamp(7px, 2.56vw, 19px);
    content: '';
    display: block;
    width: clamp(21px, 7.18vw, 55px);
    height: clamp(1px, 0.51vw, 4px);
    background: #ffffff;
    border-radius: clamp(3px, 1.28vw, 10px);
    transition: 0.5s;
  }
  #hamburger-btn span::after {
    position: absolute;
    top: clamp(-19px, -2.56vw, -7px);
    content: '';
    display: block;
    width: clamp(21px, 7.18vw, 55px);
    height: clamp(1px, 0.51vw, 4px);
    background: #ffffff;
    border-radius: clamp(3px, 1.28vw, 10px);
    transition: 0.5s;
  }
  #hamburger-btn span.close {
    background: transparent;
    transition: 0.5s;
  }
  #hamburger-btn span.close::before {
    transform: rotate(-45deg);
    top: 0;
    transition: 0.5s;
  }
  #hamburger-btn span.close::after {
    transform: rotate(45deg);
    top: 0;
    transition: 0.5s;
  }
  #nav__menu.add-menu-sp {
    right: 0;
    transition: right 0.5s;
  }
  .add-modal-sp {
    visibility: visible;
    opacity: 1;
  }
  .farstview img {
    position: absolute;
    width: clamp(300px, 100vw, 768px);
    height: clamp(501px, 167vw, 1283px);
    top: 0;
    z-index: -1;
  }
  .catch {
    margin: clamp(213px, 71.3vw, 547px) auto 0;
    font-size: 2.82rem;
    width: max-content;
  }
  .upmove_uper {
    width: fit-content;
    margin: 0 auto 0;
  }
  .upmove_lower {
    width: fit-content;
    margin: 0 auto 0;
  }
}
