@charset "UTF-8";
* {
  /* outline: 1px #000 solid; */
}
:root {
  --menuselect-color: #8dce76;
  --animation-speed: 1.5s;
  --upmove-uper-start: 0s;
  --upmove-lower-start: 2.4s;
  --upmove-step: 0.1s;
  --modalmenu-color-uper: #a1a3af;
  --modalmenu-color-lower: #d6d0d0;
}
body {
  max-width: 1200px;
  min-width: 1020px;
  height: auto;
  margin: auto;
  background-position: top center;
  background-image: url('../img/keyvisual.webp');
  background-repeat: no-repeat;
  background-attachment: local;
}
header {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}
.logo__img {
  padding: 12px 0 0 120px;
}
#nav__menu ul {
  display: flex;
  font-family: Lucida Sans Unicode;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 30px 126px 30px 0;
  position: relative;
}
#nav__menu li {
  margin-left: 40px;
  z-index: 99;
}
/* 黒いバーのスタイル */
.nav__menu--bar {
  position: absolute;
  display: block;
  bottom: 0;
  left: 24px;
  width: 76px;
  height: 25px;
  background: var(--menuselect-color);
  border-radius: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* ホバーでバーの位置を変化 */
#nav__menu li:nth-child(1):hover ~ .nav__menu--bar {
  left: 24px;
  width: 76px;
}
#nav__menu li:nth-child(2):hover ~ .nav__menu--bar {
  left: 108px;
  width: 104px;
}
#nav__menu li:nth-child(3):hover ~ .nav__menu--bar {
  left: 219px;
  width: 96px;
}
#nav__menu li:nth-child(4):hover ~ .nav__menu--bar {
  left: 325px;
  width: 66px;
}
#nav__menu li:nth-child(5):hover ~ .nav__menu--bar {
  left: 403px;
  width: 88px;
}
.farstview {
  width: 100%;
  margin: 0 auto 0;
}
.catch {
  display: block;
  font-family: Constantia;
  font-size: 50px;
  font-weight: 400;
  color: #ffffff;
  margin: 153px 0 0 120px;
}
@keyframes upmove_uper-anim {
  0% {
    transform: translateY(110%);
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*** アニメーションする要素の親 ***/
.upmove_uper {
  display: flex;
  overflow: hidden;
}
/*** アニメーションを適用する文字全体 ***/
.upmove_uper span {
  transform: translateY(110%);
  display: block;
  animation: var(--animation-speed) upmove_uper-anim forwards linear 1;
}
/*** 各span(文字)に遅延時間を設定 ***/
.upmove_uper span:nth-child(1) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 1);
}
.upmove_uper span:nth-child(2) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 2);
}
.upmove_uper span:nth-child(3) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 3);
}
.upmove_uper span:nth-child(4) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 4);
}
.upmove_uper span:nth-child(5) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 5);
}
.upmove_uper span:nth-child(6) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 6);
}
.upmove_uper span:nth-child(7) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 7);
}
.upmove_uper span:nth-child(8) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 8);
}
.upmove_uper span:nth-child(9) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 9);
}
.upmove_uper span:nth-child(10) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 10);
}
.upmove_uper span:nth-child(11) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 11);
}
.upmove_uper span:nth-child(12) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 12);
}
.upmove_uper span:nth-child(13) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 13);
}
.upmove_uper span:nth-child(14) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 14);
}
.upmove_uper span:nth-child(15) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 15);
}
.upmove_uper span:nth-child(16) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 16);
}
.upmove_uper span:nth-child(17) {
  animation-delay: calc(var(--upmove-uper-start) + var(--upmove-step) * 17);
}
/*** アニメーションする要素の親 ***/
.upmove_lower {
  display: flex;
  overflow: hidden;
}
@keyframes upmove_lower-anim {
  0% {
    transform: translateY(110%);
    opacity: 0;
  }
  60% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.upmove_lower span {
  transform: translateY(110%);
  display: block;
  animation: var(--animation-speed) upmove_lower-anim forwards linear 1;
}
.upmove_lower span:nth-child(1) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 1);
}
.upmove_lower span:nth-child(2) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 2);
}
.upmove_lower span:nth-child(3) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 3);
}
.upmove_lower span:nth-child(4) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 4);
}
.upmove_lower span:nth-child(5) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 5);
}
.upmove_lower span:nth-child(6) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 6);
}
.upmove_lower span:nth-child(7) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 7);
}
.upmove_lower span:nth-child(8) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 8);
}
.upmove_lower span:nth-child(9) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 9);
}
.upmove_lower span:nth-child(10) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 10);
}
.upmove_lower span:nth-child(11) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 11);
}
.upmove_lower span:nth-child(12) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 12);
}
.upmove_lower span:nth-child(13) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 13);
}
.upmove_lower span:nth-child(14) {
  animation-delay: calc(var(--upmove-lower-start) + var(--upmove-step) * 14);
}
/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
  .scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .scrollbar ::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
  .pc {
    display: none;
  }
  body {
    min-width: 390px;
    width: 100%;
    background-image: url('../img/keyvisual-sp.webp');
  }
  body.no_scroll {
    overflow: hidden;
  }
  header {
    width: 100%;
    height: 93px;
  }
  .logo__img {
    padding: 12px 0 0 0;
    margin: 0 auto;
  }
  #nav__menu {
    position: fixed;
    top: 0;
    right: -273px;
    width: 273px;
    height: 100vh;
    z-index: 99;
    transition: right 0.5s;
    background: linear-gradient(
      var(--modalmenu-color-uper),
      var(--modalmenu-color-lower)
    );
  }
  #nav__menu ul {
    display: block;
    margin: 81px 0 0 97px;
  }
  #nav__menu li {
    margin: 0 0 20px 0;
  }
  #hamburger-btn {
    position: fixed;
    top: 23px;
    right: 30px;
    z-index: 100;
    width: 28px;
    height: 28px;
  }
  #hamburger-btn span {
    position: relative;
    top: 50%;
    left: 0px;
    display: block;
    width: 28px;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: 0.5s;
  }
  #hamburger-btn span::before {
    position: absolute;
    top: 10px;
    content: '';
    display: block;
    width: 28px;
    height: 2px;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
  }
  #hamburger-btn span::after {
    position: absolute;
    top: -10px;
    content: '';
    display: block;
    width: 28px;
    height: 2px;
    background: #ffffff;
    border-radius: 5px;
    transition: 0.5s;
  }
  #hamburger-btn span.close {
    background: transparent;
    transition: 0.5s;
  }
  #hamburger-btn span.close::before {
    transform: rotate(-45deg);
    top: 0;
    transition: 0.5s;
  }
  #hamburger-btn span.close::after {
    transform: rotate(45deg);
    top: 0;
    transition: 0.5s;
  }
  #nav__menu.add-menu-sp {
    right: 0;
    transition: right 0.5s;
  }
  .add-modal-sp {
    visibility: visible;
    opacity: 1;
  }
  .catch {
    margin: 310px auto 0;
    font-size: 45px;
    width: max-content;
  }
  .upmove_uper {
    width: fit-content;
    margin: 0 auto 0;
  }
  .upmove_lower {
    width: fit-content;
    margin: 0 auto 0;
  }
}
